{% extends 'base.html' %}
{% load static %}

{% block title %}
Lis_mar
{% endblock %}

{% block main %}

<ul class="list-group">
    {% for i in dados %}
    <li class="list-group-item">
        Marca: {{ i.nome }} <br>
        Site: {{ i.url }}<br>
        {% if i.logo %}
        <img src="{{ i.logo.url }}" width="200"><br>
        {% else %}
        <img src="{% static '/img/perfil_generico.jpg' %}" width="200"/><br>
        {% endif %}
        <br>
        <a href="{% url 'url_altera_marca' i.id %}">Editar</a>
        <a href="{% url 'url_exclui_marca' i.id %}">Excluir</a>
    </li>
    >
    {% endfor %}
</ul>

<button onclick="window.location.href='/'">Home</button>

{% endblock %}