{% extends 'base.html' %}
{% load static %}

{% block title %}
Lis_cli
{% endblock %}

{% block main %}
{% if messages %}
    {% for mensagem in messages %}
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ mensagem }}
        </div>
    {% endfor %}
{% endif %}

<ul class="list-group">
    {% for i in dados %}
    <li class="list-group-item">
        Nome: {{ i.nome }} <br>
        Endereço: {% if i.endereco %} {{ i.endereco }} {% endif %}<br>
        Complemento: {{ i.complemento }} <br>
        Bairro: {{ i.bairro }} <br>
        Cidade: {{ i.cidade }} <br>
        Telefone: {{ i.fone }} <br>
        Email: {{ i.email }} <br>
        {% if i.foto %}
        <img src="{{ i.foto.url }}" width="200"><br>
        {% else %}
        <img src="{% static '/img/perfil_generico.jpg' %}" width="200"><br>
        {% endif %}
        <br>
        <a href="{% url 'url_altera_cliente' i.id %}">Editar</a>
        <a href="{% url 'url_exclui_cliente' i.id %}">Excluir</a>
    </li>
    {% endfor %}
</ul>
<button onclick="window.location.href='/'">Home</button>
{% endblock %}